h2 {
    font-family : cursive;
    color: red;
    background-color: black;
}

h3 {
    font-family : cursive;
    color: rgb(252, 9, 9);
    background: rgb(12, 12, 12);
}
p {
    font-family: cursive;
}
.imagedefond{ 
  
    background-image: url("image/riri.jpg");
    }